<app-page-title></app-page-title>
<div class="container-search-section">
    <div class="origin-city">
        <input type="text-box" placeholder="Type the origin city here...">
    </div>
    <div class="max-price">
        <input class="price" type="number" placeholder="123">
        <select class="currency">
            <option title="USD">$</option>
            <option title="EUR">€</option>
            <option title="JPY">¥</option>
            <option title="GBP">£</option>
            <option title="BRL">R$</option>
            <option title="INR">₹</option>
        </select>
    </div>    
</div>
