.container-search-section {
    background: #f9f9f9;
    border: 1px solid #141414;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    border-radius: 30px;
    height: 60px;
    padding: 20px;
    width: 500px;
    margin-bottom: 30px;
}

.origin-city input {
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    width: 340px;
}

.max-price {
    background: #eae5e5;
    padding: 5px;
    border-radius: 17px;
    display: flex;
    flex-direction: row;
}

.max-price input, select{
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
}

.max-price input{
    text-align: right;
}
.max-price select{
    font-size: 20px;
    color: #222222;
    text-align: center;
}

.max-price input{
    width: 3em;
}