<div class="container-search-section">
    <div class="origin-city">
        <input type="text-box" placeholder="Type the origin city here...">
    </div>
    <div class="maximum-price">
        <input class="price" type="number">
        <select class="currency">
            <option>USD ($)</option>
            <option>EUR (€)</option>
            <option>JPY (¥)</option>
            <option>GBP (£)</option>
            <option>AUD ($)</option>
            <option>CAD ($)</option>
            <option>CHF (Fr)</option>
            <option>CNY (¥)</option>
            <option>BRL (R$)</option>
            <option>INR (₹)</option>
        </select>
    </div>    
</div>
