.app-container {
    width: 100%;
    min-height: 100vh;
    background: #f9f9f9; /*Add background image later */ 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}